/*
 * This file has been created by the Vaadin Theme Editor. Please note that
 * manual changes to individual CSS properties may be overwritten by the theme editor.
 */
vaadin-button {
  border-style:solid;
  border-width:1px;
}

vaadin-button.adventures-menu-view-button-1 {
  border-style:solid;
  border-width:1px;
}

vaadin-button::part(label) { font-weight:bold; }
